{% extends "layout/base.twig" %}
{% block content %}
    <div class="card-panel grey darken-2">
        <div class="center-align">
            <h3>WayBack</h3>
            <hr>
            <h5>Welkom op WayBack!</h5>
        </div>
        <p>WayBack is een eenvoudig te gebruiken gecentraliseerd systeem om eenvoudig meerdere versies van documenten,
           spreadsheets, presentaties en allerlei andere bestanden op te slaan.</p>
        <p>WayBack maakt een einde aan bestandslijsten zoals deze:</p>
        <div style="padding-left: 25px">
            <code>
                Facturering - kopie.docx<br>
                Facturering - kopie (1).docx<br>
                Facturering - kopie (2).docx<br>
                Facturering - kopie (3).docx<br>
                Facturering - kopie (4).docx
            </code>
        </div>
        <p>...en maakt er overzichtelijke lijst van!</p>
    </div>
{% endblock %}