{% extends "layout/base.twig" %}
{% block content %}
    <div id="errorPanel" class="card-panel red darken-2 white-text" style="display: none"></div>
    <div class="card-panel grey darken-2 white-text">
        <div class="center-align">
            <h4>Inloggen</h4>
        </div>
        <form id="formLogin" onsubmit="return tryLogin(event)" role="form">
            <div class="input-field">
                <input type="email" name="email" id="fieldEmail" data-length="230" required />
                <label for="fieldEmail">E-mail adres</label>
            </div>
            <div class="input-field">
                <input type="password" name="password" id="fieldPassword" required />
                <label for="fieldPassword">Wachtwoord</label>
            </div>
            <div class="center-align">
                <button type="submit" class="btn waves-effect waves-light">
                    <i class="material-icons left">send</i>Inloggen
                </button>
            </div>
        </form>
    </div>
    <div class="card-panel grey darken-2 white-text">
        <div class="center-align">
            <a href="/user/register" class="waves-effect waves-teal btn-flat white-text">
                <i class="material-icons left">arrow_forward</i>Nog geen account?
            </a>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="application/javascript">
        runForGuest(() => window.location.assign("/"), true);
		const tryLogin = e => {
			e.preventDefault();
			const panel = document.querySelector("#errorPanel");
			panel.style.display = "hidden";
			const data = new FormData(document.querySelector("#formLogin"));
			const encData = new URLSearchParams(data.entries());
			doPOST("user/login", encData, {"Content-Type": "application/x-www-form-urlencoded"}).then(res => {
				if (res.ok) {
					return res.json();
				} else {
					panel.innerHTML = "<h5>Er ging iets fout tijdens het inloggen! Probeer het later opnieuw.<h5>";
					panel.style.display = "block";
				}
			}).then(data => {
				sessionStorage.setItem("jwt", data.JWT);
				window.location.assign("/");
			});
		};
    </script>
{% endblock %}